<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js'></script>
<canvas id="myChart" width="300" height="100"></canvas>
<script>

    var labels = {{ labels| safe }};
    var values = {{ values| safe }};
    var colors = {{ colors| safe }};

var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: labels,
        datasets: [{
            label: '# of Votes',
            data: values,
            backgroundColor: colors,
        }]
    },

});
</script>