{% extends "layout/main.html" %}
{% block title %}
    <title>Dashboard</title>
{% endblock %}
{% block css %}
    <script src="http://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
    <script src="/static/js/sweetalert2.all.min.js"></script>
    <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
{% endblock %}
{% block content %}
    <body id="page-top">
    {% include "layout/navbar.html" %}
        <div id="wrapper">
            {% include "layout/sidebar.html" %}
            <div id="content-wrapper">
                <div class="container-fluid">
                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Klasifikasi</a>
                        </li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-area"></i>Klasifikasi</div>
                        <div class="card-body">
                            <div class="row center-block">
                                <div class="col-lg-12">
                                    <form role="form" class="form" method="POST" action="">
                                        <div class="form-group">
                                            <label>Tweet</label>
                                            <textarea class="form-control" rows="2" id="tweet"></textarea>
                                        </div>
                                        <button type="button" class="btn btn-info btnSubmit">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-area"></i>Hasil</div>
                        <div class="card-body">
                            <div class="row center-block">
                                <div class="col-lg-6 text-center">
                                    <canvas id="sentimen_anim"></canvas><br>
                                    <label id="lbl_sentimen">Netral</label>
                                </div>
                                <div class="col-lg-6">
                                    <table class="table" id="t_hasil">

                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% include "layout/footerScript.html" %}
    <script>
        $(document).ready(function () {
            var tweet;
            var t_hasil = $('#t_hasil');
            t_hasil.append('<tr><th>Langkah</th><th>Hasil</th></tr>');
            $(".btnSubmit").click(function () {
               t_hasil.empty();
               tweet = document.getElementById("tweet").value;
               console.log(tweet);
                $.ajax({
                   type : "POST",
                   url : "{{ url_for('hasil') }}",
                    {#data : tweet,#}
                   data : JSON.stringify(tweet),
                   contentType : 'application/json;charset=UTF-8',
                   success : function (hasil) {
                       var data = JSON.parse(hasil);
                       console.log(data["tweet_pre"]);
                       console.log(data["sentimen"]);
                       t_hasil.append('<tr><th>Langkah</th><th>Hasil</th></tr>');
                       t_hasil.append('<tr><td>Hapus Retweet</td><td>'+data["tweet_pre"]["rt"]+'</td></tr>');
                       t_hasil.append('<tr><td>Hapus URL & Lower Case</td><td>'+data["tweet_pre"]["url"]+'</td></tr>');
                       t_hasil.append('<tr><td>Hapus Angka</td><td>'+data["tweet_pre"]["angka"]+'</td></tr>');
                       t_hasil.append('<tr><td>Hapus Tanda Pagar</td><td>'+data["tweet_pre"]["pagar"]+'</td></tr>');
                       t_hasil.append('<tr><td>Hapus Tanda Baca</td><td>'+data["tweet_pre"]["tanda"]+'</td></tr>');
                       t_hasil.append('<tr><td>Hapus Username</td><td>'+data["tweet_pre"]["username"]+'</td></tr>');
                       t_hasil.append('<tr><td>Hapus Stopword</td><td>'+data["tweet_pre"]["stopword"]+'</td></tr>');
                       t_hasil.append('<tr><td>Ubah Ke Kata Dasar</td><td>'+data["tweet_pre"]["stem"]+'</td></tr>');
                       if (data["sentimen"]=== "NEGATIF"){
                           gauge.set(0);
                       }else if (data["sentimen"]=== "NETRAL"){
                           gauge.set(1);
                       } else {
                           gauge.set(2);
                       }
                       document.getElementById("lbl_sentimen").innerHTML = data["sentimen"]
                   },
                   error: function (jqXHR) {
                        alert("error"+jqXHR);
                        console.log(jqXHR);
                   }
                });
            });
        });
    </script>
    <script>
            var opts = {
              angle: -0.01, // The span of the gauge arc
              lineWidth: 0.44, // The line thickness
              radiusScale: 1, // Relative radius
              pointer: {
                length: 0.43, // // Relative to gauge radius
                strokeWidth: 0.033, // The thickness
                color: '#000000' // Fill color
              },
              limitMax: false,     // If false, max value increases automatically if value > maxValue
              limitMin: false,     // If true, the min value of the gauge will be fixed
              colorStart: '#6FADCF',   // Colors
              colorStop: '#8FC0DA',    // just experiment with them
              strokeColor: '#E0E0E0',  // to see which ones work best for you
              generateGradient: true,
              highDpiSupport: true,     // High resolution support

            };
            var target = document.getElementById('sentimen_anim'); // your canvas element
            var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!
            gauge.maxValue = 2; // set max gauge value
            gauge.setMinValue(0);  // Prefer setter over gauge.minValue = 0
            gauge.animationSpeed = 10; // set animation speed (32 is default value)
            gauge.set(0); // set actual value

    </script>

{% endblock %}
