<!DOCTYPE html>
<html lang="en">
  <head>
        {% block title %}{% endblock%}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
          <!-- Bootstrap core CSS-->
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template-->
        <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <!-- Page level plugin CSS-->
        <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="/static/css/sb-admin.css" rel="stylesheet">
          {% block css %}{% endblock %}
  </head>
      {% block content %}{% endblock %}
      {% block footerScript %}{% endblock %}
</html>
