<!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/klasifikasi">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Klasifikasi Teks</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/malioboro">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Malioboro</span></a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Keraton Yogyakarta</span></a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Tebing Breksi</span></a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Gumuk Pasir</span></a>
        </li>
      </ul>